html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
    /*放置在父元素的基线上*/
}

.body {
    background: #2D9FDB none repeat scroll 0% 0%;
    overflow: hidden;
}

.di_yun {
    background: transparent url("../image/di_yun.png") repeat-x scroll 0% 0%;
    width: 100%;
    z-index: 1;
    height: 168px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    /*左下角对齐*/
}

.logins {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    height: 454px;
    width: 923px;
}

.logins h2 {
    color: white;
    font-size: 20px;
}

.logins .form_box {
    margin-top: 20px;
    padding: 30px 0px 30px 58px;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
}

.content {
    float: left;
    width: 800px;
}

ul {
    list-style: outside none none;
}

.content li {
    margin-bottom: 5px;
}

.content li input {
    width: 794px;
    height: 34px;
    line-height: 34px;
    color: #808080;
    text-indent: 5px;
}

.content li span {
    visibility: hidden;
    text-indent: 1px;
    /*首行缩进*/
    font-size: 23px;
}

.wangjimima {
    margin-bottom: 30px;
    width: 800px;
}

.wangjimima .left {
    font-size: 14px;
    color: #808080;
    float: left;
}

.wangjimima a {
    float: right;
    font-size: 14px;
    color: #1A2735;
    color: red;
}

.wangjimima a:hover {
    float: right;
    font-size: 14px;
    color: #2D9FDB;
}

.btndenglu {
    margin-top: 15px;
    float: left;
    width: 800px;
}

.btndenglu input {
    color: #FFF;
    border: medium none;
    font-size: 16px;
    line-height: 44px;
    background: #2D9FDB none repeat scroll 0% 0%;
    width: 395px;
}
