.body {
    background: #2D9FDB none repeat scroll 0% 0%;
}

.body table {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 10px;
    border: 2px solid #63A4BA;
    margin-top:30px;
}

.di_yun {
    background: transparent url("../image/di_yun.png") repeat-x scroll 0% 0%;
    width: 100%;
    z-index: 1;
    height: 168px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.centers {
    width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bb {
    color: white;
}

.centers a {
    text-decoration: none;
    color: black;
}
